extends shared/layout

block content
  div(class="row")
    div(class="col-sm-8 col-sm-offset-2")
      h2(class="text-center") Vehículos Pendientes de inspeccion
      br
      br
      -if(data.length > 0){
      table(class="table table-responsive")
        thead
          tr
            th Descripcion
            th No. Chasis
            th No. Motor
            th No. Placa
            th Tipo Vehiculo
            th Marca
            th Modelo
            th Tipo Combustible
            th Estado
        tbody
          -for(var i = 0; i < data.length; i++){
          tr
            td= data[i].descripcion
            td= parseInt(data[i].noChasis)
            td= parseInt(data[i].noMotor)
            td= parseInt(data[i].noPlaca)
            td= data[i].tipoVehiculo
            td=data[i].marca
            td=data[i].modelo
            td=data[i].tipoCombustible
            td=data[i].estado
            td 
              a(href="/Inspeccion/genInspeccion/"+data[i].descripcion).btn.btn-primary Inspeccionar
          -}
      -}
      -else{
        h2.text-center 
          i 
            b No hay nada para mostrar
      -}

